<h1>Stupid Coaching</h1>

<div class="you">
  <p><strong><%= params[:question]%></strong></p>
  <p><i>-You</i></p>
</div>

<div class="coach">
  <p><strong><%= @answer%></strong></p>
  <p><i>-Your coach</i></p>
</div>

<div class="link">
  <%= link_to "Ask a new question", ask_path %>
</div>
