<h1>Stupid Coaching</h1>
<h2>Ask your coach anything:</h2>

<div class="form_input">
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="ask your coach anything..." class="user_input">
    <input type="submit" value="Ask!">
  </form>
</div>




